#### PRIMARY DATA TYPES:

######  BOOLEAN:

   -- Either TRUE or FALSE
   -- Represented in binary
       -  0 and 1, on and off, true or false

######  CHARACTER:

  -- CHAR(n) with a white spase
  -- VARCHAR() 
  -- CHAR: one character, M/F


######  NUMBER:

1. Integer (have different ranges)

   -- 2 bytes
   -- 4 bytes

2. Serial numbers

   -- Same as Integer
   -- Autoincresement

3. Floats

   -- decimal bumbers to n number of bytes

4. Real

  -- Double -Precision numbers (8-byte)
  -- Decimal numbers

5. Numeric/Numeric(p,s)

  -- Real number with  p number of didits, s - represents a number after a decimal point


###### TEMPORAL

  == Date
  == Time
  == Intervals - difference between two timestamps or temporal data types
  == Timestamp
  
  
###### TimeStamp with time zone
-----------------------------------------------------------------
SQL Constraints  -  are used to specify rules for data in a table.

 -- PRIMARY KEY,
 -- NOT NULL,
 -- UNIQUE

###### Create a table in DB

In [ ]:
 CREATE TABLE "user" (
	 --column name data_type column_constraint
	 id serial PRIMARY KEY,
	 first_name VARCHAR(50),
	 last_name VARCHAR(50),
	 email VARCHAR (70) UNIQUE
 ); 
 
-- delete table: DROP TABLE user; don't forget to refresh 

-- INSERT INTO table_name(columns)
-----values + data

INSERT INTO "user" (id,first_name,last_name, email)
VALUES (1, 'Erich M', 'Remerque','example@mail.com')

SELECT * FROM "user"

INSERT INTO "user" (id,first_name,last_name, email)
VALUES (2, 'Gabriel G', 'MÃ¡rquez ','example_1@mail.com')

NOTE! You can generate ERD in PGADMIN (simmilar to MYSQL): 
--Right click on database name --> generate ERD

![erdexample](https://raw.githubusercontent.com/n-eaton/pgAdmin_notes/main/images_for_sql_repo/generate_erd.png)

In [ ]:
###### MULTIPLE STATEMENTS


INSERT INTO "user" (id,first_name,last_name, email)
VALUES 
	(4, 'User A', 'LastNameA ','example_4@mail.com'),
	(5, 'User B', 'LastNameB ','example_5@mail.com'),
	(6, 'User C', 'LastNameC ','example_6@mail.com'),
	(7, 'User D', 'LastNameD ','example_7@mail.com')
RETURNING *;

![db_tables](https://raw.githubusercontent.com/n-eaton/pgAdmin_notes/main/images_for_sql_repo/first_table.png)

In [ ]:
CREATE TABLE "post" (
	 id serial PRIMARY KEY,
	 user_id integer,
	 body text,	
	 CONSTRAINT fk_user FOREIGN KEY(id) REFERENCES "user"(id)
 );

In [ ]:
INSERT INTO "post"(id,user_id, body)
VALUES 
	(1, 3, 'This is the first post'),
	(2, 1, 'This is the second post'),
	(3, 3, 'This is the test post for the same user'),
	(4, 2, 'Life is the best thing that has ever been invented')
RETURNING * ;

![post](https://raw.githubusercontent.com/n-eaton/pgAdmin_notes/main/images_for_sql_repo/db_test.png)

![erd](https://raw.githubusercontent.com/n-eaton/pgAdmin_notes/main/images_for_sql_repo/final_erd.png)

-- SIMPLE TEST

SELECT * 
FROM "user"
JOIN post ON post.user_id = "user".id

![test](https://raw.githubusercontent.com/n-eaton/pgAdmin_notes/main/images_for_sql_repo/db_test.png)

###### Documentation

https://www.postgresql.org/docs/14/sql-createtable.html

https://www.postgresqltutorial.com/postgresql-rename-table/

###### UPDATE VS ALTER

In [ ]:
UPDATE changes the data (or info) that already exist inside tables of the database.

ALTER changes how tables are functioning. Basically changes rulles for your individual tables

In [ ]:

-- Updating last name of Remerque to 'Remarque':

UPDATE "user"
SET last_name = 'Remarque' 
WHERE id = 1;

-- Updating a user of the post:
    
UPDATE post 
SET user_id =2
WHERE id = 1

![test](https://raw.githubusercontent.com/n-eaton/pgAdmin_notes/main/images_for_sql_repo/updating_data.png)

### BE AWARE

###### ON HOW AND WHAT YOU UPDATING

![beaware01](https://raw.githubusercontent.com/n-eaton/pgAdmin_notes/main/images_for_sql_repo/be_aware_01.png)

### best practice is to create a copy of a table!!! Instead of see the following img

![beaware02](https://raw.githubusercontent.com/n-eaton/pgAdmin_notes/main/images_for_sql_repo/be_aware_02.png)

In [ ]:
UPDATE website
SET title ='Google'
WHERE url = 'www.google.com'